<h3 class="text-center">Contact Us</h3>
<div class="form_container" >
    <div class="form_wrap">
        <form>
            <div class="form-group form_item">
                <label>Your Email</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="form-group form_item">
                <label>Select Title</label>
                <select class="form-control" id="exampleFormControlSelect1" placeholder="Select one">
                    <option value="" disabled selected hidden>Choose a title</option>
                    <option>Admission Enquiry</option>
                    <option>HECS Enquiry</option>
                    <option>Dormitory Enquiry</option>
                    <option>Major Enquiry</option>
                    <option>Others</option>
                </select>
            </div>
            <div class="form-group form_item">
                <label>Content</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Your Enquiry"></textarea>
            </div>
            <div class="form-group form_item">
                <button type="submit" class="btn btn-primary mb-2">Submit</button>
            </div>
        </form>
    </div>
</div>
